gTTS==2.1.1
selenium==3.141.0
SpeechRecognition==3.8.1
nltk==3.4.5
Django==3.0.1
numpy==1.18.1
pandas==1.0.3
wikipedia==1.4.0
tmdbv3api==1.6.0
datefinder==0.7.0
newsapi_python==0.2.6
google_auth_oauthlib==0.4.1
textblob==0.15.3
playsound==1.2.2
fake_useragent==0.1.11
requests==2.23.0
beautifulsoup4==4.9.1
django_crispy_forms==1.9.1
django_jsonfield==1.4.0
djangorestframework==3.11.2
google_api_python_client==1.9.3
newsapi==0.1.1
