<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #ddd; /* Green */
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}


.button5 {font-size: 24px;}


.project_name {
  text-shadow: 2px 2px #FF0000;
  font-size:50px;
}
.my_name {
  text-shadow: 2px 2px #FF0000;
  font-size:50px;
}
</style>
</head>
<body>

<center>
<button class="button button5"><a href="{% url 'speech_bot:speech_to_text' %}">Speech to text</a> </button>

</center>



<center><h1 class="project_name">Speech Recognition</h1>
</center>

</body>







</html>
