<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #ddd; /* Green */
  border: none;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}


.button5 {font-size: 24px;}


.project_name {
  text-shadow: 2px 2px #FF0000;
  font-size:50px;
}
.my_name {
  text-shadow: 2px 2px #FF0000;
  font-size:50px;
}
</style>
</head>
<body>

<center>
<button class="button button5"><a href="{% url 'speech_bot:speech_to_text' %}">Try now !</a> </button>

</center>


<h1 class="project_name">What can our Alexa version do for you?</h1>
    <ul>
<ol>
  <li>Monitorize your illness and provide valuable feedback</li>
  <li>Can improve and strengthen health condition</li>
  <li>It uses Machine Learning for intent recognition</li>
  <li>Some of the best features:<br>
        <ul>
  <li>It's always listening and waiting for the triggering keyword: "alexa"</li>
  <li>Can bring the individual up to date with the latest news in all over the world</li>
  <li>Plan a google calendar event and we set it up accordingly</li>

  <li>Discussion module: the chat can not be more real than this. Get feedback based on what you say</li>
  <li>Sentiment recognition. We take care of our clients.</li>
  <li>It can intelligently surf the web for you (keyword detection)</li>

  <li>It can open various browser(Chrome, Mozilla), applications (Word, Excel, etc), search for a song(On Youtube)</li>
</ul>
</li>
</ol>
</ul>

</body>







</html>
