{% extends "website/base.html" %}
{% block content %}
    <h1>Ce putem face pentru tine?</h1>
    <p>If you’re concerned about whether an elderly relative or loved one is having trouble caring for themselves, it may be time to step in and offer some help. Before you start helping your loved one, take time to assess their needs. They may need assistance caring for their medical needs, or perhaps they could benefit from extra support during their day-to-day activities. If you aren’t able to care for them yourself, look for resources in your area such as assisted living facilities or in-home care services. Being a caregiver is challenging, so make sure to take time for your own needs as well! </p>
{% endblock content %}