{% load static %}
{% load auth_extras %}
{% block head %}
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Lobster&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virtual Assistant - Un companion pentru cei la nevoie</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'site_nou/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="{% static 'site_nou/css/modern-business.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <style>
        .hello-msg{
            font-size: 18px;
            color: #fff;
            margin-right: 20px;
    }
    </style>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'tutorial:website_index' %}">Virtual Assistant</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tutorial:website_about' %}">Despre proiect</a>
                    </li>
                    <li class="nav-item">
                        {% if not user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'tutorial:website_loginPage' %}">Login</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tutorial:website_registerPage' %}">Inregistrare</a>
                    </li>
                    {% endif %}
                    {% if request.user|has_group:"tutore" or request.user|has_group:"admin"%}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'tutorial:website_update' %}">Insereaza pacient</a>
                    </li>
                    {% endif %}
                    {% if request.user|has_group:"pacient" or request.user|has_group:"admin"%}
                        {% if flag == True %}
                            {% if afectiune == 'alzheimer'%}
                                <li class="nav-item">
                                    <a class="nav-item nav-link" href="{% url 'tutorial:website_mood_form' %}">Chestionar Stare</a>
                                </li>
                            {% endif %}
                             {% if afectiune == 'depresie'%}
                                <li class="nav-item">
                                    <a class="nav-item nav-link" href="{% url 'tutorial:website_mood_form' %}">Chestionar Stare</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if flag == False %}
                            <li class="nav-item">
                                    <a class="nav-item nav-link" href="{% url 'tutorial:website_general_form' %}">Chestionar</a>
                            </li>
                        {% endif %}

                    {% endif %}
                    {% if request.user|has_group:"pacient" or request.user|has_group:"admin" %}
                            <li class="nav-item">
                                    <a class="nav-item nav-link" href="{% url 'speech_bot:home' %}">Chat Bot</a>
                            </li>
                        {% endif %}

                </ul>
            </div>
        </div>
    {% if user.is_authenticated %}
    <span class = "hello-msg">Buna, {{ request.user.username }}! </span>
    <span><a  class = "hello-msg" href="{% url 'tutorial:website_logoutPage' %}">Logout</a></span>
    {% endif %}
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active"
                     style="background-image: url('{% static 'images/img_slideshow_1.jpg' %}')">
                    <div class="carousel-caption d-none d-md-block">
                        <b><h1 style="color:whitesmoke; font-family: 'Chelsea Market', cursive;" >Avem grijă de tine</h1></b>
                        <b><h4 style="color:whitesmoke;font-family: 'Chelsea Market', cursive;" >Oriunde, oricând, suntem la un click distanță</h4></b>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{% static 'images/img_slideshow_2.jpg' %}')">
                    <div class="carousel-caption d-none d-md-block">
                        <b><h2 style="color:ghostwhite; font-family: 'Chelsea Market', cursive;">Inteligența Artificială este viitorul</h2></b>
                        <b><h4 style="color:ghostwhite; font-family: 'Chelsea Market', cursive; ">Las-o să facă parte din viața ta !</h4></b>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{% static 'images/img_slideshow_3.jpg' %}')">
                    <div class="carousel-caption d-none d-md-block">
                        <b><h2 style="color:white; -webkit-text-stroke:0.25px black; font-family: 'Chelsea Market', cursive;">Lasă-te în baza Asistentului Virtual</h2></b>
                        <b><h4 style="color:white; -webkit-text-stroke: 0.25px black; font-family: 'Chelsea Market', cursive;">El se ajustează special pentru tine</h4></b>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4" align="center"  style="font-family: 'Indie Flower', cursive;">Bine ai venit la Asistentul Virtual !</h1>

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top"  src="{% static 'images/alz.jpg' %}"  alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Știai că...</a>
                        </h4>
                        <p class="card-text">Izolarea poate crește riscul de apariție a bolii Alzheimer?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{% static 'images/lonely.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Sau că...</a>
                        </h4>
                        <p class="card-text">Singurătatea e mai periculoasă decât obezitatea și la fel de dăunătoare cât
                        15 țigări pe zi?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="{% static 'images/heart_dis.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Dar și că....</a>
                        </h4>
                        <p class="card-text">Singurătatea duce la complicații ale inimii?</p>
                    </div>
                </div>
            </div>

        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Cine suntem și ce facem?</h2>
                <p>Virtual Assistant este un proiect aflat în primul stadiu de cercetare și dezvoltare capabil să înlăture
                sentimentul se singurătate al utilizatorului. Lasă grija ta în seama noastră. Oferim servicii speciale
                pentru cei cu Alzheimer sau cei încercați de depresie și oferim rapoarte detaliate îngrijitorului cu privire
                la evoluția bolii. Câteva dintre funcțiile cheie sunt următoarele:</p>
                <ul>
                    <li>
                        <strong>Dialog intuitiv bazat pe concepte de inteligență artificială.</strong>
                    </li>
                    <li>Reîmprospătează-ți memoria adresând întrebări despre orice, iar Virtual Assisntant va reveni cu un răspuns.</li>
                    <li>Îți recomandă filme în baza filmului preferat</li>
                    <li>Nu uita nimic și programează-ți evenimentele în Google Calendar</li>
                    <li>Lasă-ne să te informăm cu știri de actualitate</li>
                    <li>Spune tot ce ai pe suflet și lasă-ne pe noi să-ți oferim sfaturi competente</li>
                    <li>Lasă-ne pe noi să căutăm informația inteligent pentru tine !</li>
                </ul>
                <strong><p>P.S Acest proiect nu reprezintă doar lucrarea de licență a mea, ci o soluție la o problemă cu care omenirea începe deja
                să se confunte ! Voi continua lucrul la acest proiect și după licență și îl voi duce la stadiul de producție</p></strong>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="{% static 'images/team.jpg' %}" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        {% if request.user|has_group:"tutore" or request.user|has_group:"admin"%}
        <div class="row mb-4">
            <div class="col-md-8">
                <p>Pentru a începe lucrul cu Asistentul virtual, te rugăm să inserezi un pacient apăsând butonul din lateral</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="{% url 'tutorial:website_update' %}">Începe acum</a>
            </div>
        </div>
         {% elif request.user|has_group:"pacient"%}
            <div class="row mb-4">
            <div class="col-md-8">
                <p>Asistentul virtual te așteaptă cu zâmbetul pe buze :)</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="{% url 'speech_bot:home' %}">Începe acum</a>
            </div>
        </div>
            {% else %}

            <div class="row mb-4">
            <div class="col-md-8">
                <p>Bună ! Te rugăm să te înregistrezi pentru a putea accesa oricare dintre aceste particularități</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="{% url 'tutorial:website_registerPage' %}">Începe acum</a>
            </div>
            </div>
        {% endif %}

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Virtual Assistant 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="{% static 'site_nou/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'site_nou/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
